<div class="modal-add" >
<fmt:message key="modal.user.name.text" var="name"/>
<fmt:message key="modal.user.surname.text" var="surname"/>
<fmt:message key="modal.user.address.text" var="address"/>
<fmt:message key="modal.user.email.text" var="email"/>
<fmt:message key="modal.user.phone.text" var="phone"/>
<h1 style="text-align:center;" ><fmt:message key="edit.client"></fmt:message></h1>
<form class="form-horizontal" id="multiform" action="controller" method="POST">
<input type="hidden" name=url value="${requestScope['javax.servlet.forward.query_string']}">
<input type="hidden" id="command" name="command"  value="updateClients"/>
 <input type="hidden" class="form-control" id="id" name="id" value="${entity.id }"/>
 <div class="form-group">
        <label class="col-xs-3 control-label"><fmt:message key="modal.user.fullName"/>:</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="name" name="name" placeholder="${name }" value="${entity.name }"/>
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="surname" name="surname" placeholder="${surname }" value="${entity.surname }"/>
        </div>
    </div>
  <div class="form-group">
    <label class="control-label col-xs-3 registration-text" ><fmt:message key="modal.user.address"/>:</label>
      <div class="col-xs-6">
       <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
	        <input type="text" class="form-control registration-input" id="address" name="address" placeholder="${address }" value="${entity.address }">
	      </div>
    </div>
  </div>    
  <div class="form-group">
	    <label class="control-label col-xs-3 registration-text" ><fmt:message key="modal.user.email"/>:</label>
	    <div class="col-xs-6">
	      <div class="input-group input-email">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	        <input type="email" class="form-control registration-input" id="email"  name="email" placeholder="${email }" value="${entity.email }">
	      </div>
		 
	      <span class="glyphicon form-control-feedback"></span>
		  
	    </div>
		  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 registration-text"><fmt:message key="modal.user.phone"/>:</label>
      <div class="col-xs-6">
       <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
	        <input type="number" class="form-control registration-input" id="phone" name="phone" placeholder="${phone }" value="${entity.phone }">
	      </div>
    </div>
  </div>
  <br />
  <div class="form-group">
    <div class="col-xs-offset-3 confirm col-xs-9">
      <input id="save" type="submit" class="btn btn-primary" value=<fmt:message key="button.submit"/>>
    </div>
  </div>
  </form>
  <script>
//Get the modal
    $('.editClient').on('click', function () {
    	$("#modalEdit").show();
     
    });
    $('.close').on('click', function () {
    	$("#modalEdit").hide(); 
    });
    $(window).on('click', function(event){
        if(event.target.id == 'modalEdit'){
        	$(':input','#multiform').not(':button, :submit, :reset, :hidden').val('').removeAttr('selected');
        	$("#modalEdit").hide();
        }
    });
</script>
</div>