.input-header h1 {
	text-align:center;
}
.confirm {
	margin-left:45vh;
}
.form_date {
	margin-left:49vh;
}
.alternative {
	margin-left:47.3vh;
	width:91.2vh;
}
@media only screen and ( max-width: 40em ) /* 640 */ {
.form_date {
    margin-left: 17vh;
    width: 40vh;
}
.input-group{
	 width: 40vh;
}



}