/*	Table OF Contents
	==========================
	1.General styles
	2.Top link
	3.Main nav
	4.Banner letter effect
	5.Banner area
	6.Choose
	7.Features
	8.Service
	9.Offer
	10.Price
	11.Client
	12.Client review
	13.Search domin
	14.Get in touch
	15.Footer
	16.Newsletter
	17.Footer-bottom
	18.Goto top
	19.Blog
    20.Blog small
    21.Blog single post
	22.Footer1
    23.Footer2
    24.404
    25.Services1
	26.Services2
	27.Services3
	28.Services4
	29.Services5
	30.Services6
	31.Services7
	32.Wobble horizontal effect
	
	=========================== */
	
	
	
	/* ============================
	 1.General styles
	 =========================== */
	 body{height:100%;}
	 .col-lg-3, .col-md-1{
	padding-left:2px; }
.info-wrapper{
	min-height : 56em;
	
}.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -70px;
    margin-left: -70px;
}
.user-panel{}
	.login-form {
    margin-top: -2.5em;
    margin-left:70em;}
    .user-info{
	
	    margin-top: 1vh;
	color:#fff;}
	body {
	background-color:#fff;
}
.contact-info{ 
	margin-top: -1em;
	margin-left: 15em;
	
}

a {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
}
.top-area {
	position:relative;
	height:auto;
	background-color:#323943;
	
}
/* ============================
	 2.Top link
	 =========================== */
	 
	.top-link ul {
	width:300vh;
	margin-top:-1.9em;
	margin-left:30vh;

}
.top-link ul li {
	background: transparent;
	float: left;
}
.top-link ul li a {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none;
	display: block;
	padding-left: 33px;
	margin-right:15px;
	position: relative;
	margin-bottom:5px;
}
.top-link ul li a span {
	background:url(../images/top-icon.png) no-repeat 0 0;
	position: absolute;
	width: 36px;
	height: 36px;
	top: -5px;
	left: 0;
}
.top-link ul li a:hover {
	color:#ccc;
}
.top-link ul li a.info-ico span {
	background-position: 0 0;
}
.top-link ul li a.phone-ico span {
	background-position: -32px 0;
}
.top-link ul li a.chat-ico span {
	background-position: -70px 0;
}
.oder {
	   
	margin-top:1vh;
}
.oder-content {
	display:inline-block;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
}
.oder a {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.oder a:hover {
	color:#ccc;
	text-decoration:none;
}
.smo-icon {
	 
	margin-top:-2vh;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
}
.smo-icon span {
	display:inline-block;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
}
.smo-icon a {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.smo-icon a:hover {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
/* ============================
	 3.Main nav
	 =========================== */
	.account-content {
	width:25vh;}
	#main-nav {
	width:100%;
	left:0;
	border-top:solid 2px #2fbbff;
	border-bottom:solid 2px #2fbbff;
}
#main-nav.stickyNav, .nav-stop {
	position:relative !important;
}
.nav-shadow {
	moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
	-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
	-o-box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
	box-shadow:0px 1px 2px rgba(0, 0, 0, .15);
}
ul.navbar-nav {
	float:left;
	min-height: 40px;
	text-align:left;
}
.navbar {
	margin-bottom: 0;
	border-radius:0px;
}
.navbar-default {
	z-index:999999;
	padding-top:15px;
	background: #fff;
	border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #2fbbff;
	background: none;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	font-size: 12px;
	line-height: 20px;
	color: #4c585c;
	font-family:Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: left;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
 background-color:#fff;
}
.navbar-nav > li {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.navbar-nav > li > a {
	padding: 0;
	padding-top: 8px;
	padding-bottom:0px;
	padding-left: 3px;
	padding-right: 3px;
	outline: none !important;
	overflow: hidden;
	cursor:pointer;
}
#home {
	width:100%;
}
.navbar-default .container {
	    width: 70%;
	position: relative;
}
.navbar-default .navbar-toggle {
	color: #fff;
	border-color: #fff;
	top:-8px;
	float: right;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}
.navbar-default ul.dropdown-menu {
	background:none;
	top: 30px;
	box-shadow: none;
	border: 0px;
}
.navbar-default ul.dropdown-menu li a {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
	padding:10px 16px;
	outline:none;
}
.dropdown-menu li {
	border-bottom:none;
}
.dropdown-menu li:last-child {
	border-bottom:none;
}
.dropdown i {
	padding-left:2px;
	font-size:12px;
}
.navbar-default .navbar-brand {
	font-size:12px;
	color:#2d3538;
	line-height:30px;
	text-transform:uppercase;
	padding-top:0;
}
.navbar > .container .navbar-brand {
	margin-left:0;
}
.navbar-default .navbar-brand:hover {
	color:#2d3538;
}

a.navbar-brand img{
	padding-right:15px;
}





#sticktop {
	width:100%;
	left:0;
}
#sticktop.stickyNav, .nav-stop {
	position:relative !important;
}
/* ============================
	 4.Banner letter effect
	 =========================== */
	
	.letter-container {
	margin: 0px;
	padding: 0px;
}
.head-space
{
	margin-top:10px;
	
}
.letter-container h1 {
	text-align: center;
	font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
}
.letter-container h1 a {
	text-align: center;
	font-size: 18px;
	display: block;
	min-height:18px;
	height:auto;
	-webkit-mask: url(../images/mask.png) repeat;
	-o-mask: url(../images/mask.png) repeat;
	-moz-mask: url(../images/mask.png) repeat;
	-ms-mask: url(../images/mask.png) repeat;
	mask: url(../images/mask.png) repeat;
	text-decoration:none;
	color:#fff;
}
.letter-container h1 a span {
	color: #fff;
	opacity: 1;
	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.9s linear backwards;
	-moz-animation: sharpen 0.9s linear backwards;
	-ms-animation: sharpen 0.9s linear backwards;
	animation: sharpen 0.9s linear backwards;
}
.letter-container h1 a span:hover {
	text-shadow: 0px 0px 5px #fff;
}
 .letter-container h1 a span:nth-child(1) {
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -ms-animation-delay: 0s;
 animation-delay: 0s;
}
 .letter-container h1 a span:nth-child(2) {
 -webkit-animation-delay: 0.1s;
 -moz-animation-delay: 0.1s;
 -ms-animation-delay: 0.1s;
 animation-delay: 0.1s;
}
 .letter-container h1 a span:nth-child(3) {
 -webkit-animation-delay: 0.2s;
 -moz-animation-delay: 0.2s;
 -ms-animation-delay: 0.2s;
 animation-delay: 0.2s;
}
 .letter-container h1 a span:nth-child(4) {
 -webkit-animation-delay: 0.3s;
 -moz-animation-delay: 0.3s;
 -ms-animation-delay: 0.3s;
 animation-delay: 0.3s;
}
 .letter-container h1 a span:nth-child(5) {
 -webkit-animation-delay: 0.4s;
 -moz-animation-delay: 0.4s;
 -ms-animation-delay: 0.4s;
 animation-delay: 0.4s;
}
 .letter-container h1 a span:nth-child(6) {
 -webkit-animation-delay: 0.5s;
 -moz-animation-delay: 0.5s;
 -ms-animation-delay: 0.5s;
 animation-delay: 0.5s;
}
 .letter-container h1 a span:nth-child(7) {
 -webkit-animation-delay: 0.6s;
 -moz-animation-delay: 0.6s;
 -ms-animation-delay: 0.6s;
 animation-delay: 0.6s;
}
 .letter-container h1 a span:nth-child(8) {
 -webkit-animation-delay: 0.7s;
 -moz-animation-delay: 0.7s;
 -ms-animation-delay: 0.7s;
 animation-delay: 0.7s;
}
 .letter-container h1 a span:nth-child(9) {
 -webkit-animation-delay: 0.8s;
 -moz-animation-delay: 0.8s;
 -ms-animation-delay: 0.8s;
 animation-delay: 0.8s;
}
 .letter-container h1 a span:nth-child(10) {
 -webkit-animation-delay: 0.9s;
 -moz-animation-delay: 0.9s;
 -ms-animation-delay: 0.9s;
 animation-delay: 0.9s;
}
 .letter-container h1 a span:nth-child(11) {
 -webkit-animation-delay: 1s;
 -moz-animation-delay: 1s;
 -ms-animation-delay: 1s;
 animation-delay: 1s;
}
 .letter-container h1 a span:nth-child(12) {
 -webkit-animation-delay: 1.1s;
 -moz-animation-delay: 1.1s;
 -ms-animation-delay: 1.1s;
 animation-delay: 1.1s;
}
 .letter-container h1 a span:nth-child(13) {
 -webkit-animation-delay: 1.2s;
 -moz-animation-delay: 1.2s;
 -ms-animation-delay: 1.2s;
 animation-delay: 1.2s;
}
 .letter-container h1 a span:nth-child(14) {
 -webkit-animation-delay: 1.3s;
 -moz-animation-delay: 1.3s;
 -ms-animation-delay: 1.3s;
 animation-delay: 1.3s;
}
 .letter-container h1 a span:nth-child(15) {
 -webkit-animation-delay: 1.4s;
 -moz-animation-delay: 1.4s;
 -ms-animation-delay: 1.4s;
 animation-delay: 1.4s;
}
 .letter-container h1 a span:nth-child(16) {
 -webkit-animation-delay: 1.5s;
 -moz-animation-delay: 1.5s;
 -ms-animation-delay: 1.5s;
 animation-delay: 1.5s;
}
 .letter-container h1 a span:nth-child(17) {
 -webkit-animation-delay: 1.6s;
 -moz-animation-delay: 1.6s;
 -ms-animation-delay: 1.6s;
 animation-delay: 1.6s;
}
 .letter-container h1 a span:nth-child(17) {
 -webkit-animation-delay: 1.6s;
 -moz-animation-delay: 1.6s;
 -ms-animation-delay: 1.6s;
 animation-delay: 1.6s;
}
 .letter-container h1 a span:nth-child(18) {
 -webkit-animation-delay: 1.7s;
 -moz-animation-delay: 1.7s;
 -ms-animation-delay: 1.7s;
 animation-delay: 1.7s;
}
 .letter-container h1 a span:nth-child(19) {
 -webkit-animation-delay: 1.8s;
 -moz-animation-delay: 1.8s;
 -ms-animation-delay: 1.8s;
 animation-delay: 1.8s;
}
 .letter-container h1 a span:nth-child(20) {
 -webkit-animation-delay: 1.9s;
 -moz-animation-delay: 1.9s;
 -ms-animation-delay: 1.9s;
 animation-delay: 1.9s;
}
 .letter-container h1 a span:nth-child(21) {
 -webkit-animation-delay: 2s;
 -moz-animation-delay: 2s;
 -ms-animation-delay: 2s;
 animation-delay: 2s;
}
 .letter-container h1 a span:nth-child(22) {
 -webkit-animation-delay: 2.1s;
 -moz-animation-delay: 2.1s;
 -ms-animation-delay: 2.1s;
 animation-delay: 2.1s;
}
 .letter-container h1 a span:nth-child(23) {
 -webkit-animation-delay: 2.2s;
 -moz-animation-delay: 2.2s;
 -ms-animation-delay: 2.2s;
 animation-delay: 2.2s;
}
 .letter-container h1 a span:nth-child(24) {
 -webkit-animation-delay: 2.3s;
 -moz-animation-delay: 2.3s;
 -ms-animation-delay: 2.3s;
 animation-delay: 2.3s;
}
 .letter-container h1 a span:nth-child(25) {
 -webkit-animation-delay: 2.4s;
 -moz-animation-delay: 2.4s;
 -ms-animation-delay: 2.4s;
 animation-delay: 2.4s;
}
 .letter-container h1 a span:nth-child(26) {
 -webkit-animation-delay: 2.5s;
 -moz-animation-delay: 2.5s;
 -ms-animation-delay: 2.5s;
 animation-delay: 2.5s;
}
 .letter-container h1 a span:nth-child(27) {
 -webkit-animation-delay: 2.6s;
 -moz-animation-delay: 2.6s;
 -ms-animation-delay: 2.6s;
 animation-delay: 2.6s;
}
 .letter-container h1 a span:nth-child(28) {
 -webkit-animation-delay: 2.7s;
 -moz-animation-delay: 2.7s;
 -ms-animation-delay: 2.7s;
 animation-delay: 2.7s;
}
 .letter-container h1 a span:nth-child(29) {
 -webkit-animation-delay: 2.8s;
 -moz-animation-delay: 2.8s;
 -ms-animation-delay: 2.8s;
 animation-delay: 2.8s;
}
 .letter-container h1 a span:nth-child(30) {
 -webkit-animation-delay: 2.9s;
 -moz-animation-delay: 2.9s;
 -ms-animation-delay: 2.9s;
 animation-delay: 2.9s;
}
 .letter-container h1 a span:nth-child(31) {
 -webkit-animation-delay: 3s;
 -moz-animation-delay: 3s;
 -ms-animation-delay: 3s;
 animation-delay: 3s;
}
 .letter-container h1 a span:nth-child(32) {
 -webkit-animation-delay: 3.1s;
 -moz-animation-delay: 3.1s;
 -ms-animation-delay: 3.1s;
 animation-delay: 3.1s;
}
 .letter-container h1 a span:nth-child(33) {
 -webkit-animation-delay: 3.2s;
 -moz-animation-delay: 3.2s;
 -ms-animation-delay: 3.2s;
 animation-delay: 3.2s;
}
 @keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-moz-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-webkit-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-ms-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
/* ============================
	 5.Banner area
	 =========================== */
	
	
	
	
	#lp-pom-block-10 {
		width:100%;
	height: 780px;
	background-image:url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-color:#000;
	background-attachment: fixed;
	background-position:center center;
	position:relative;
}
.banner-dot
	{
		width:100%;
		height:780px;
		position:absolute;
		z-index:10;
		background:url(../images/dot.png) repeat;
		
	}
.baaner-container {
	position: relative;
	overflow: hidden;
	width: 78%;
	margin: 0 11%;
}
.banner-inner-container {
	position:relative;
	padding-top:0px;
}
.carousel-caption {
	top:0px;
	z-index: 10;
	left: 10%;
	right: 10%;
	text-shadow:none;
}
.carousel-caption h1 {
	margin-top: 25px;
	line-height:18px;
	font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
	font-weight:bold;
	
}
.carousel-caption h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
.main-image {
	margin:40px 0px 10px 0px;
}
.main-image img {
	width:80%;
}
.banner-text {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	line-height:22px;
	padding-bottom:20px;
}
.banner-text1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	line-height:22px;
	padding-bottom:0px;
}
.carousel .item {
	height: 780px;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}
.carousel-control {
	opacity:1;
}
.carousel-control.left {
	background-image:none;
}
.carousel-control.right {
	background-image:none;
}
.glyphicon-chevron-left:before {
	content:none;
}
.carousel-control .glyphicon-chevron-left {
	height:87px;
	width:57px;
	background:url(../images/arrow-left.png) no-repeat;
	content:none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 46%;
}
.glyphicon-chevron-right:before {
	content:none;
}
.carousel-control .glyphicon-chevron-right {
	height:87px;
	width:57px;
	background:url(../images/arrow-right.png) no-repeat;
	content:none;
}
.carousel-indicators {
	height:15px;
	bottom: 124px;
}
.banner-arrow {
	position: relative;
	bottom: 93px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index:100;
}
	
	
	/* Pulse */
	@-webkit-keyframes pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
 @keyframes pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
.pulse {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover, .pulse:focus, .pulse:active {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.green-button {
	width:150px;
	margin:0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color:#3fcc37;
	padding:10px 20px 10px 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;
	margin-bottom:20px;
}
a.green-button {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.green-button a:hover {
	text-decoration:none;
}
.blue-button {
	width:150px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:10px 20px 10px 20px;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;
}
a.blue-button {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#2fbbff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
a.blue-button :hover {
	background-color:#fff;
	text-decoration:none;
}
.banner-nav {
	width:100%;
	height:auto;
	padding-bottom:20px;
}
.banner-nav ul {
	height:auto;
}
.banner-nav ul li {
	list-style:none;
	font-size:12px;
	color:#fff;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/tick.png);
	background-repeat:no-repeat;
	background-position:0 12px;
	padding:9px 0 0 36px;
}
/* ============================
	 6.Choose
	 =========================== */
	
	.choose-container {
	padding:65px 0px 45px 0px;
}
.main-head h1 {
	margin-top:0px;
	margin-bottom:20px;
	text-align:center;
	color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:normal;
}
.main-head h2 {
	margin-top:0px;
	margin-bottom:35px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#666666;
}



.choose-item {
	width: 116px;
height: 116px;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	margin:0px auto;
}

.choose-info-wrap{
	position: absolute;
	width: 116px;
height: 116px;
	border-radius: 50%;

	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	
	background: #f9f9f9 ;
	box-shadow: 
		0 0 0 10px #fafcfb, 
		inset 0 0 0px rgba(115,114, 23, 0.8);

}

.choose-info{
	position: absolute;
	width: 116px;
height: 116px;
	border-radius: 50%;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
		
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.choose-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.choose-info .choose-info-back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	
	background: #000;
}

.choose-img-1 { 
	background-image:url(../images/live-support.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-color:#3fcc37;
}

.choose-img-2 { 
	background-image: url(../images/online-security.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-color:#f6c636;
}

.choose-img-3 { 
	background-image: url(../images/hosting-solution.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-color:#2fbbff;
}
.choose-img-4 { 
	background-image: url(../images/quick-install.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-color:#334d5c;
}



.choose-info h3 {
	color: #fff;
	text-align:center;
	
	letter-spacing: 2px;
	font-size: 14px;
	margin:0px 15px 10px 15px;
	padding:34px 0 0 0;
	height:auto;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:bold;
	
}

.choose-info p {
	color: #fff;
	padding: 5px 5px;
	font-style: italic;
	margin: 0 10%;
	width:80%;
	font-size: 13px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.choose-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;

	font-size: 9px;
	letter-spacing: 1px;
	
	font-family: 'Open Sans', Arial, sans-serif;
}

.choose-info p a:hover {
	color: #2fbbff;
	text-decoration:none;
	
}


.choose-item:hover .choose-info {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}




.choose h2 {
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
}
.choose p {
	text-align:center;
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:20px;
}
/* ============================
	 7.Features
	 =========================== */
	
	.features-container {
	padding:65px 0px;
	background-color:#f5f5f5;
}
.features-container p {
	text-align:center;
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:0px;
}
.features {
	margin-top: 45px;
}
.features span {
	float: left;
}
.features h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	padding-left: 100px;
}
.features p {
	padding-left: 100px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
}
.featuresIcon1 {
	background:url(../images/features-icon1.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
.featuresIcon2 {
	background:url(../images/features-icon4.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
.featuresIcon3 {
	background:url(../images/features-icon2.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
.featuresIcon4 {
	background:url(../images/features-icon5.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
.featuresIcon5 {
	background:url(../images/features-icon3.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
.featuresIcon6 {
	background:url(../images/features-icon6.png) no-repeat center center;
	width: 78px;
	height:80px;
	display: block;
}
/* ============================
	 8.Service
	 =========================== */
	
	.service-container {
	padding:65px 0px;
	background-color:#fff;
}
.service-container p {
	text-align:center;
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:0px;
}
.service1 {
	margin-top: 35px;
}
.service {
	margin-top: 30px;
}
.service-text-area {
	margin-top: 20px;
}
.service1 img {
	width:100%;
}
.service span {
	float: left;
}
.service h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	padding-left: 40px;
}
.service p {
	padding-left: 40px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
}
.serviceIcon {
	background:url(../images/tick1.png) no-repeat center center;
	width: 23px;
	height:25px;
	display: block;
}
/* ============================
	 9.Offer
	 =========================== */
	 
	
	#lp-pom-block-11 {
	padding:65px 0px 45px 0px;
	height:auto;
	background-image:url(../images/offer-bg.png);
	background-repeat:repeat-y;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-color:#000;
}
.offer-head h1 {
	margin-top:0px;
	margin-bottom:20px;
	text-align:center;
	color:#fff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:normal;
}
.offer-head h2 {
	margin-top:0px;
	margin-bottom:35px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#999999;
}
.offer-box1 {
	width:100%;
	height:auto;
	background-color:rgba(255, 255, 255, 0.2);
	float:left;
}
.offer-text {
	width:100%;
	height:auto;
	float:left;
}
.offer-text ul {
	height:auto;
	padding:26px 35px 35px 35px;
	margin:0px;
}
.offer-text ul li {
	list-style:none;
	font-size:14px;
	color:#fff;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/arrow.png) no-repeat 0 12px;
	padding:9px 0 0 25px;
}
.offer-image {
	width:176px;
	margin:20px 35px 20px 35px;
	height:196px;
	background:url(../images/offer1.png) no-repeat;
	float:left;
}
.offer-image-box {
	width:70px;
	height:58px;
	margin:24px 18px 0px 0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	float:right;
}
.offer-image-box span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#fff;
}
.offer-image-box p {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	line-height:10px;
}
.offer-image1 {
	width:173px;
	margin:20px 35px 20px 35px;
	height:196px;
	background:url(../images/offer2.png) no-repeat;
	float:left;
}
.offer-boxhead {
	width:100%;
	
	padding:20px 30px;
	line-height: 25px;
	background-color:#334d5c;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:26px;
margin-bottom: 20px;
	float:left;
	
	color:#fff;
}

.offer-boxhead img
{
	float:right;
	
}


/* ============================
	 10.Price
	 =========================== */
	.price-container {
	padding: 65px 0px 45px 0px;
	background-color: #fff;
}
.main-table {
	width:100%;
	position: relative;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
}
.price-table-top {
	width:100%;
	position: relative;
	height: auto;
	padding:0;
}
.price-table-top h3 {
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	z-index: 2;
	text-align: center;
	width: 100%;
	margin-top:18px;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.2);
}
.price-table-top a.price-table-topbg {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	background:#334d5c;
	overflow: hidden;
	min-height: 112px;
	text-decoration:none;
}
.price-table-top .price-circle {
	display: block;
	left:50%;
	width:120px;
	height: 120px;
	margin-left:-50px;
	text-align: center;
	background:#2fbbff;
	border:10px solid #fff;
	border-radius: 200px;
	top:60px;
	text-decoration:none;
	position: absolute;
}
.price-table-top .price-circle p.price {
	margin-top:24px;
	margin-bottom:0;
	padding-bottom:0;
	line-height: 30px;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
.price-table-top .price-circle p.month {
	margin-top:0;
	padding-top:0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
.main-table ul.price-plans {
	margin:50px 0 0;
	padding:25px 0 0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	text-align:center;
}
 .main-table ul.price-plans li:nth-child(odd) {
 padding:15px;
 border-bottom:1px solid #e0e0e0;
 background-color:#fff;
}
 .main-table ul.price-plans li:nth-child(even) {
 padding:15px;
 border-bottom:1px solid #e0e0e0;
 background-color:#fbfbfb;
}
.main-table ul.price-plans li.price-plan:first-child {
	border-top:1px solid #e0e0e0;
}
.main-table a.price-buy-now {
	padding:10px 15px;
	background:#334d5c;
	display: block;
	width:120px;
	margin:20px auto;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
	text-decoration:none;
}
.main-table a.price-buy-now.active {
	background:#2fbbff;
}
.main-table a.price-buy-now:hover {
	background:#2fbbff;
	color:white;
}
ol, ul {
	list-style: none;
	padding: 0;
}




#columns .fade   {
	
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#columns .fade:hover{
	-webkit-transform: scale(1.03);
	-moz-transform:scale(1.03);
	transform: scale(1.03);
opacity: 1;
}
 #columns:hover .fade:not(:hover) {
	opacity: 0.4;
}

/* ============================
	 11.Client
	 =========================== */
	
	.client-container {
	padding: 65px 0px;
	background-color: #fafcfb;
}
.client {
	width:100%;
	margin:0 auto;
}
#owl-sponsors {
	margin:0px;
}
.client .item {
	margin-right:20px;
}
.client .item a img {
	display: block;
	width: 100%;
	height: auto;
	padding:5px;
	border: 1px solid #e0e0e0;
}
.client-title-nav {
	margin:0px;
}
.owl-Navigation {
	position:relative;
	text-align:center;
	padding-top:25px;
}
.owl-Navigation a {
	width: 24px;
	height: 24px;
	background: #2fbbff;
	display: inline-block;
	padding:0px;
	cursor: pointer;
}
/* ============================
	12.Client review
	=========================== */
	
	.clientreview-container {
	padding: 65px 0px 45px 0px;
	background-color: #fff;
}
.testimonial {
	padding:0px;
}
.testimonial ul {
	margin:0px;
}
.testimonial ul li {
	list-style-type:none;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.testimonial ul li.clearfix {
	margin:0px;
}
.testimonial blockquote {
	border:1px solid #e0e0e0;
	background-color:#fff;
	position:relative;
	margin:0px 0px 20px 0px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	clear:none;
	background-image:none;
	padding:15px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-style:italic;
	line-height:24px;
}
.testimonial .arrowbubble {
	position:absolute;
	bottom: -16px;
	left:70px;
	background-image:url(../images/client-arrow.png);
	background-repeat:no-repeat;
	width:18px;
	height:16px;
	display:block;
}
.testimonial .testiimg {
	float:left;
	display:block;
	width:60px;
	height:60px;
	position:relative;
	margin-right:12px;
	margin-left:6px;
	margin-bottom:20px;
}
.testimonial .testiimg img {
	width:60px;
	height:60px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background-color:#fff;
	border:1px solid #eaeaea;
}
.testiinfo {
	margin:32px 0px 0px 0px;
	display:block;
	font-size:14px;
}
.testiinfo h4 {
	margin-bottom:2px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}
.testiinfo span {
	margin-bottom:2px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
}
/* ============================
	13.Search domin
	=========================== */
	
	#lp-pom-block-12 {
	padding:65px 0px;
	height:auto;
	background-image:url(../images/search-domin-bg1.jpg);
	background-repeat:repeat-y;
	background-attachment: fixed;
	background-size: cover;
	background-color:#000;
	background-position: center center;
}
.domin-head h1 {
	margin-top:0px;
	margin-bottom:35px;
	text-align:center;
	color:#fff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:normal;
}
.search {
	width: 72%;
	padding: 10px;
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	margin-bottom: 25px;
	color: #666666 !important;
	font-size: 13px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #fff;
}
.input-append .btn-group:last-child>.dropdown-toggle {
	background: #e2e5e6;
	font-size: 12px;
	font-weight: bold;
	padding: 17px 15px;
	line-height: 0px;
	margin-top: -3px;
	margin-left: -4px;
	border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	box-shadow: none;
}
.dropdown-menu {
	min-width: 146px;
	margin-left: -4px;
	padding:0px;
	margin: 0px 0px 0px -4px;
	border-radius:  0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
}
.dropdown-menu>li>a:hover {
	color:#fff;
}
.dropdown-menu>li:last-child a:hover {
	border-radius:  0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	color:#fff;
}
.search-area {
	text-align:center;
	padding-top:20px;
}
.search-btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:12px 20px;
	background-color: #2fbbff;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
}
.search-area a {
	color: #fff;
	text-decoration:none;
}
.search-area a:hover {
	color: #fff;
	text-decoration:none;
}
/* ============================
	14.Get in touch
	=========================== */
	
	
	
	  #contact .contact-form {
	width:90%;
	max-width: 830px;
	margin: 0 auto;
}
.form-control {
	width: 100%;
	
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
	color:#666666 !important;
	font-size:16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.form-control .textarea {
	height: 100px;
	max-height: 200px;
	max-width: 100%;
}
.form-btn {
	width:100%;
	display: block;
	height: auto;
	padding:15px;
	color:#fff;
	background-color:#2fbbff;
	border:none;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	outline: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.form-btn:hover {
	color: white;
	border:none;
}
	
	  
	
	
	
	  ::-webkit-input-placeholder { /* WebKit browsers */
 color:    #666666;
}
	  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #666666;
}
	  ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #666666;
}
	  :-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #666666;
}
/* ============================
	15.Footer
	=========================== */
	
	
	.footer-container {
	padding: 15px 0px 15px 0px;
	background-color: #323943;
}
.footer-container h2 {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:normal;
	color:#dcdcdc;
}
.footer-container p {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.fa-angle-right:before {
	margin-right: 6px;
}
.footer-container ul.list {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.footer-container .list li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container .list li a {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container .list li a:hover {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#FFF;
	font-size:14px;
	text-decoration:none;
}
.footer-container ul li {
	list-style: none;
}
.payment-area {
	width: 100%;
}
.payment-area a {
	display: inline-block;
	padding:0px 10px 10px 0px;
}
.payment-area img {
	width: 100%;
	height: auto;
	float: left;
}
/* ============================
	16.newsletter
	=========================== */
	
	
	.newsletter-container {
	padding: 40px 0px;
	background-color: #282e36;
}
.newsletter {
	margin:0px;
}
.newsletter span {
	float: left;
}
.newsletter h2 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin:0px;
	padding-top:10px;
	color: #fff;
	padding-left: 90px;
}
.newsletter p {
	padding-left: 90px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#dcdcdc;
	margin:0px;
}
.newsletterIcon {
	background:url(../images/newsletter.png) no-repeat center center;
	width: 66px;
	height:65px;
	display: block;
}
.newsletter-form {
	width: 100%;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #999999;
	margin-top:20px;
	color: #666666 !important;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.newsletter-btn {
	width: 100%;
	display: block;
	height: auto;
	margin-top: 20px;
	padding: 10px;
	color: #fff;
	background-color: #2fbbff;
	border: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#result {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
}
/* ============================
	17.footer-bottom
	=========================== */
	
	.language{
	margin-top:1vh;
	margin-left:0vh;
	}
	
	.table-wrapper {
	min-height:56em;
	padding-left: 2vh;
	padding-right:2vh;
	padding-top: 3vh ;
	padding-bottom : 3vh;
	}
	table {

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
	.footer-bottom {
	padding: 10px 0px 10px 0px;
	background-color: #191c21;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#fff;
	text-align:center;
	font-size: 13px;
}

	
	.footer-bottom p {
	margin:0px;
}
/* ============================
	 18.Goto top
	 =========================== */
#go-top {
	background: #fff url(../images/top.png) no-repeat center;
	border: 1px solid #e9eff0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	bottom: 50px;
	color: #81c8e4;
	display: none;
	font-size: 1.8em;
	height: 45px;
	line-height: 45px;
	position: fixed;
	right: 30px;
	text-align: center;
	width: 45px;
	z-index:11;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
#go-top:hover {
	background: #2fbbff url(../images/top-hover.png) no-repeat center -4px;
	color: #fff;
	border:none;
}
/* ============================
	19.Blog
	=========================== */
	.bloghead-container {
	padding: 20px 0px;
	background-color: #f5f5f5;
	margin-top:1px;
}
.blog h1 {
	margin-top:0px;
	text-align:left;
	color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:normal;
}
.post {
	margin-top:0px;
	text-align:right;
	color:#2fbbff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:normal;
}

.post span {
	display:inline-block;
	margin-right:10px;
	color:#333333;
}

.blog-container  {
padding: 65px 0px 45px 0px;
}
.blog-image_frame {
float: left;
width: 98%;
border: 7px solid #fff;
margin-bottom: 25px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.blog-image_frame img {
float: left;
width:100%;

}
.blogpost {
margin-bottom: 30px;
}
.blogpost h1 {
color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:normal;
	line-height:28px;
}
.blogpost h3 {
	color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:5px 0px 0px 0px;
	line-height:28px;

}
.blogpost h3 a {
	color:#2fbbff;


}


.blogpost p {
text-align:left;
color: #666666;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: normal;
margin:20px 0px;

}
.blogpost-btn {
padding: 10px 20px;
background: #2fbbff;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color:#FFF;
}

.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlink {
	font-size: 12px;
	color: #454545;
	background-color:#eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlink:hover {
	color: #fff;
	background-color:#2fbbff;
	text-decoration:none;
}
.pagination a.current {
	color: #fff;
	background-color: #2fbbff;
}
.site-search-area {
margin: 0px;
padding: 0px;
}

.blogpost-search {
width: 80%;
padding: 10px;
border-radius: 4px 0px 0px 4px;
-moz-border-radius: 4px 0px 0px 4px;
-webkit-border-radius: 4px 0px 0px 4px;
border-left: 1px solid rgba(0, 0, 0, 0.1);
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
border-right: 0px ;
margin-bottom: 25px;
color: #666666 !important;
font-size: 13px;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
background-color: #fff;
}
.blogpost-search-btn {
float: left;
width: 50px;
height: 40px;
cursor: pointer;
text-indent: -5555em;
line-height: 100;
overflow: hidden;
background: #2fbbff url(../images/site-search-icon.png) no-repeat center 14px;
border: 0;
margin-top:-3px;
margin-left:-4px;
border-radius: 0px 4px 4px 0px;
-moz-border-radius: 0px 4px 4px 0px;
-webkit-border-radius:  0px 4px 4px 0px;
}



.blog-sidemenu {
float: left;
width: 100%;


}

.blog-sidemenu h3 {

color: #333 ;
font-size: 22px;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
margin:0px 0px 20px 0px;

}



.sidemenu_list {
	width:100%;
padding: 0px;
margin: 0px;
float: left;
margin-top: -10px;
margin-bottom:20px;
}
.sidemenu_list li a {
	font-size: 14px;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
color: #2fbbff;
line-height: 30px;
}
.sidemenu_list li a:hover {
color: #333;
line-height: 30px;
text-decoration:none;
}
.ad-head {
	float: left;
width: 100%;
	color: #333 ;
font-size: 22px;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
margin:10px 0px 20px 0px;
}
.advertisement {
float: left;
width: 98%;
border: 7px solid #fff;
margin-bottom: 25px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.advertisement img {
float: left;
width: 100%;
}

/* ============================
	20.Blog small
	=========================== */
	.blog-small-container {
	width:100%;
	float:left;
	margin-bottom: 30px;
}
.blog-small-img {
	width: 100%;
	float: left;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog-small-img img {
	width:100%;
}
.blog-small-text-container {
	width: 98%;
	float: left;
	padding: 0px;
	margin: 0 0 0 4%;
}
.blog-small-text-container h1 {
	font-size:22px;
	margin-top:0px;
}
.blog-small-text-container h3 {
	font-size:18px;
	margin-top:0px;
}

.blog-small-text-container h3 a

{
	color: #2fbbff;
}
.blogpost-btn-small {
	padding: 6px 14px;
	background: #2fbbff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.blogpost-search-small {
	width: 80%;
	padding: 10px;
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 0px;
	margin-bottom: 25px;
	color: #666666 !important;
	font-size: 13px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #fff;
}

/* ============================
	22.Footer1
	=========================== */
	
	


.sitemap {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	font-weight: normal;
	color: #000;
	margin: 12px 0px 0px 0px;
	padding: 0px;
}
.sitemap i {
	color: #727272;
	margin: 0px 2px 0px 2px;
}
.sitemap a {
	padding: 0px 0px 0px 0px;
	color: #727272;
	text-decoration:none;
}
.sitemap a:hover {
	color: #000;
	text-decoration:none;
}
.footer-container1 {
	padding: 65px 0px 45px 0px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e6eaea;
}
.footer-container1 h2 {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:normal;
	color:#333;
}
.footer-container1 p {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#666;
	font-size:14px;
}
.fa-angle-right:before {
	margin-right: 6px;
}
.footer-container1 ul.list {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.footer-container1 .list li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#666;
	font-size:14px;
}
.footer-container1 .list li a {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#666;
	font-size:14px;
}
.footer-container1 .list li a:hover {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	font-size:14px;
	text-decoration:none;
}
.footer-container1 ul li {
	list-style: none;
}
.footer-bottom1 {
	padding: 35px 0px 35px 0px;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #9a9b9c;
	text-align: center;
	border-top: 1px solid #fff;
	font-size: 13px;
	text-align:left;
}
ul.footer_smo_links {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.footer_smo_links li {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 24px;
	line-height: 22px;
	vertical-align: middle;
	background-color: #2fbbff;
	color: #fff;
}
.footer_smo_links li:hover {
	background-color: #383634;
}
.footer_smo_links li i {
	color: #fff;
}
/* ============================
	23.Footer2
	=========================== */



.bloghead-container2 {
	padding: 20px 0px;
	background-color: #000;
	margin-top:1px;
}
.blog2 h1 {
	margin-top:0px;
	text-align:left;
	color:#fff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:normal;
}
.sitemap2 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	font-weight: normal;
	color: #fff;
	margin: 12px 0px 0px 0px;
	padding: 0px;
}
.sitemap2 i {
	color: #ccc;
	margin: 0px 2px 0px 2px;
}
.sitemap2 a {
	padding: 0px 0px 0px 0px;
	color: #ccc;
	text-decoration:none;
}
.sitemap2 a:hover {
	color: #fff;
	text-decoration:none;
}
.footer-container2 {
	padding: 65px 0px 45px 0px;
	background-color: #000;
}
.footer-container2 h2 {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:normal;
	color:#fff;
}
.footer-container2 p {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container2 ul.list {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.footer-container2 .list li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container2 .list li a {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container2 .list li a:hover {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	font-size:14px;
	text-decoration:none;
}
.footer-container2 ul li {
	list-style: none;
}
ul.contact_address {
	
	padding: 0px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:#9a9b9c;
	font-size: 14px;
}
.contact_address p {
	line-height: 24px;
	margin-bottom: 10px;
}

.cotact_icon
{
	margin-right:10px;

 height:auto;
float:left;	
}
.cotact_text
{
width:88%;
 height:auto;
 float:left
}
.contact_address li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	width:100%;
	float:left;
	
}
.footer-bottom2 {
	padding: 35px 0px 35px 0px;
	background-color: #191c21;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #9a9b9c;
	text-align: center;
	font-size: 13px;
	text-align: left;
}
.copy
{
	margin:5px 0px 0px 0px;
}
/* ============================
	24.404
	=========================== */
.page-not-container {
	padding: 65px 0px 95px 0px;
	background-color: #fff;
}
.page-not-container .main {
	text-align: center;
	color: #333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 100px;
	font-weight:bold;
	text-shadow: 0 3px 5px #999;
}
.page-not-container .big-text {
	text-align: center;
	color: #d62d11;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight:normal;
}
.page-not-container .small-text {
	text-align: center;
	color: #333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:normal;
}
.page-not-container p {
	text-align:center;
}
.butn-space {
	margin:40px 0px 10px 0px;
}
a.back-btn {
	padding: 13px 25px 13px 22px;
	margin:auto 0px;
	background: #2fbbff;
	color:#FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a:hover.back-btn {
	text-decoration:none;
}
a.back-btn i {
	color: #fff;
	text-decoration:none;
}
/* ============================
	25.Services1
	=========================== */
	
	.service-main {
	margin-bottom:25px;
}
.service-round {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 0px;
	margin: 0 auto;
	line-height: 146px;
	text-align: center;
	vertical-align: middle;
	background-color: #f3f3f3;
}
.service-round i {
	color: #2fbbff;
	font-size:4em;
}
.service-round i:hover {
	color: #333;
}
.service-main h2 {
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	color:#333333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
}
.service-main p {
	text-align:center;
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:20px;
}
/* ============================
	26.Services2
	=========================== */
	
	
	.service-round2 {
	margin: 0 auto;
	text-align: center;
}
.service-round2 i {
	color: #2fbbff;
	font-size:4em;
}
/* ============================
	27.Services3
	=========================== */
	
	.service3 {
}
.service3 i {
	float: left;
	color: #2fbbff;
	font-size:4em;
}
.service3 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align:left;
	padding-left: 80px;
	margin-top:0px;
}
.service3 p {
	padding-left: 80px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
	margin-bottom:20px;
}
/* ============================
	28.Services4
	=========================== */
	
	.service-round4 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 0px;
	text-align: center;
	line-height: 100px;
	float: left;
	margin-bottom:40px;
	background-color: #f3f3f3;
}
.service-round4:hover {
	background-color:#333;
}
.service4 i {
	color: #2fbbff;
	font-size:3em;
}
.service4 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align:left;
	padding-left: 120px;
	margin-top:0px;
}
.service4 p {
	padding-left: 120px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
	margin-bottom:20px;
}
/* ============================
	29.Services5
	=========================== */
	
	.service-round5 {
	width: 80px;
	height: 80px;
	border-radius:4px;
	webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 0px;
	text-align: center;
	line-height: 100px;
	float: left;
	margin-bottom:40px;
	background-color: #f3f3f3;
}
.service-round5:hover {
	background-color:#333;
}
.service5 i {
	color: #2fbbff;
	font-size:3em;
}
.service5 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align:left;
	padding-left: 120px;
	margin-top:0px;
}
.service5 p {
	padding-left: 120px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
	margin-bottom:20px;
}
/* ============================
	30.Services6
	=========================== */
	
	.service-round6 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 0px;
	text-align: center;
	line-height: 61px;
	float: left;
	margin-bottom:40px;
	background-color: #f3f3f3;
}
.service-round6:hover {
	background-color:#333;
}
.service6 i {
	color: #2fbbff;
	font-size:2em;
}
.service6 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align:left;
	padding-left: 70px;
	margin-top:0px;
}
.service6 p {
	padding-left: 70px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
	margin-bottom:20px;
}
/* ============================
	31.Services7
	=========================== */
	
	.service-round7 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 0px;
	text-align: center;
	line-height: 100px;
	float: left;
	margin-bottom:40px;
}
.service-round7.round1 {
	background-color:#3fcc37;
}
.service-round7.round2 {
	background-color:#f6c636;
}
.service-round7.round3 {
	background-color:#2fbbff;
}
.service-round7.round4 {
	background-color:#00c2a9;
}
.service-round7.round5 {
	background-color:#ff7a29;
}
.service-round7.round6 {
	background-color:#d62d11;
}
.service-round7:hover {
	background-color:#333;
}
.service7 i {
	color: #fff;
	font-size:3em;
}
.service7 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align:left;
	padding-left: 120px;
	margin-top:0px;
}
.service7 p {
	padding-left: 120px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666666;
	margin-bottom:20px;
}



/* ============================
	32.Wobble horizontal effect
	=========================== */

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
 
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




	/* RESPONSIVE CSS
	-------------------------------------------------- */
	@media (min-width:480px) {
		
		.carousel-caption h1 {
	margin-top: 0px;
	
		}
 .main-image {
 margin: 0px 0px 10px 0px;
}
 .letter-container h1 a {
 line-height: 38px;
 font-size: 25px;
 min-height:25px;
	height:auto;
}
 .carousel-caption h2 {
 font-size: 18px;
 margin-bottom:15px;
}
 .carousel-caption {
 top: 30px;
}
 .banner-nav ul li {
 padding:12px 0 0 36px;
}
 .main-head h1 {
 font-size:26px;
}
 .offer-head h1 {
 font-size:26px;
}
 .domin-head h1 {
 font-size:26px;
}
 .offer-boxhead {
 font-size:26px;
}
 .testimonial .testiimg {
 margin-left:46px;
}
 .search {
 width: 75%;
}
 .input-append .btn-group:last-child>.dropdown-toggle {
 padding: 17px 30px;
}
}
 @media (min-width: 600px) {
 .offer-text {
 width:55%;
}
}
 @media (min-width: 640px) {
 .main-image img {
 width: 50%;
}
 .carousel-caption h2 {
 margin:20px 0px;
}
 .banner-text {
 font-size: 15px;
 line-height: 24px;
}
 .banner-text1 {
 font-size: 15px;
 line-height: 24px;
}
 .banner-nav ul li {
 font-size: 14px;
 background-size:
}
 .banner-nav {
 padding:4px 0px 40px 0px;
}
 .main-head h1 {
 font-size:36px;
}
 .offer-head h1 {
 font-size:36px;
}
 .domin-head h1 {
 font-size:36px;
}
 .search {
 width: 78%;
 padding: 15px;
 font-size: 16px;
}
 .input-append .btn-group:last-child>.dropdown-toggle {
 padding:24px 32px;
 font-size: 18px;
 margin-top:-5px;
}
 .search-btn {
 padding: 20px 40px 20px 40px;
 font-size: 16px;
}
 .newsletter-form {
 padding: 15px;
}
 .newsletter-btn {
 padding: 15px;
}
}
 @media (max-width:767px) {
 .transaction-input{
 margin-top: 3em;}
.datetimepicker ,datetimepicker-dropdown-bottom-right ,dropdown-menu div [style]{
left: 19em !important; top: 48em !important;}
 .date {
 width: 12em;}
 .table-wrapper {
	min-height:30em;
	}
 .transaction-table {
    margin-left: 15em;}
.col-xs-3 {
    margin-left: 1em;}
 .confirm , registration-input{text-align: center}
 .registration-text{margin-left:1em;}
 .changePassword, registration-input{
text-overflow: ellipsis;
  overflow: hidden;
 width:70%;}
 table {
 		
		overflow-x: auto;
		display: block;
	}
	.th-hide{
	display: none;}
 .table-responsive{border:none;}
 .account-content {width:5em;}
.contact-info{display: none;}
.language { margin-left: 0px;}
.login-form {
    margin-top: -2.5em;
	margin-left: 29em;
   }
 
.col-lg-3, .col-md-1 {
	padding-top: 1em;
    padding-left: 1em;

}
}
 @media (min-width:768px) {
 ul.navbar-nav {
 float: right;
}
 .navbar-brand {
 padding: 0px;
}
 .navbar-collapse {
 padding-right: 0px;
 padding-left: 0px;
}
 .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 text-align: center;
 height:50px;
}
 .dropdown-menu li.active a, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus {
 background:#2fbbff !important;
 color: #fff;
}
 #menu-icon {
 position: absolute;
 left: 0;
 min-width: 40px;
 z-index: 100;
 bottom: 0px;
 margin-left:10px;
 padding-bottom:0;
}
 #menu-icon:after {
 bottom: 100%;
 left: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 border-color: rgba(238, 102, 102, 0);
 border-bottom-color: #2fbbff;
 border-width: 4px;
 margin-left: -4px;
}
 
 .dropdown-menu li {
 border-bottom:solid 1px #666666;
}
 .dropdown-menu li:last-child {
 border-bottom:none;
}
.navbar-nav > li:hover ul.dropdown-menu {
	display: block;
}
 .carousel-caption {
 top:30px;
}
 .banner-text {
 font-size:16px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 16px;
 line-height:30px;
 padding-bottom:25px;
}
 .letter-container h1 a {
 font-size: 32px;
 min-height:40px;
	height:auto;
}
 .carousel-caption h2 {
 font-size: 24px;
 margin-top:20px;
 margin-bottom:20px;
}
 .banner-nav ul li {
 font-size:16px;
}
 .main-image {
 margin:0px 0px 35px 0px;
}
 .banner-nav {
 width:100%;
 height:auto;
 padding-bottom:52px;
}
 .main-image img {
 width:232px;
}
 .blue-button {
 width:190px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 padding:15px 30px 15px 30px;
 margin:0px 20px 0px 0px;
 font-family:Arial, Helvetica, sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 .green-button {
 width:190px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 background-color:#3fcc37;
 padding:15px 30px 15px 30px;
 margin:0 20px 0px 0px;
 font-family:Arial, Helvetica, sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 a.green-button {
 font-size:16px;
}
 a.blue-button {
 font-size:16px;
}
 .offer-text {
 width: 100%;
}
 .search {
 width: 82%;
}
 .textarea {
 height:200px;
}
 .newsletter-form {
 width: 82%;
 margin-top: 5px;
 float:right;
}
 .newsletter-btn {
 margin-top: 5px;
}
 .offer-boxhead {
 font-size: 20px;
}
 
 .navbar-nav > li {
 padding-left: 8px;
 padding-right: 8px;
}
 .navbar-default ul.dropdown-menu {
 background: #2d3538;
 min-width: 180px;
 top:50px;
 left:-46px;
 padding:0;
}
.blogpost-search-small {
width: 92%;
}
}
 @media (min-width: 992px) {
 
 .smo-icon {

 padding: 11px 0px 0px 0;
}
 .oder {
 text-align:right;

}
 .letter-container h1 a {
 font-size: 40px;
min-height:47px;
	height:auto;
		line-height:43px;
}
 .carousel-caption h2 {
 font-size:30px;
}
 .blue-button {
 width:220px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 padding:20px 62px 20px 30px;
 background-image:url(../images/more-arrow.png);
 background-repeat:no-repeat;
 background-position:152px 15px;
 margin:0px 20px 0px 0px;
 font-family:Arial, Helvetica, sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 .green-button {
 width:220px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 background-color:#3fcc37;
 padding:20px 60px 20px 30px;
 background-image:url(../images/more-arrow.png);
 background-repeat:no-repeat;
 background-position:160px 15px;
 margin:0 20px 0px 0px;
 font-family:Arial, Helvetica, sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 a.green-button {
 font-size:16px;
}
 a.blue-button {
 font-size:16px;
}
 .banner-text {
 font-size:20px;
 line-height:30px;
 padding-bottom:52px;
}
 .carousel-caption h2 {
 font-size: 24px;
 margin-top:25px;
 margin-bottom:35px;
}
 .banner-text {
 font-size:18px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 18px;
 line-height:30px;
 padding-bottom:25px;
}
 .banner-nav ul li {
 font-size:16px;
}
 .banner-icon {
 padding-top:18px;
}
.banner-icon img {
	max-width:98%;
}
 .search {
 width: 78%;
}
 .newsletter-form {
 width: 95%;
}
 .offer-boxhead {
 font-size: 26px;
}
 
.blogpost-search {
width: 82%;
}

.blogpost-search-small {
width: 76%;
}
 .blog-small-img {
 width: 33%;
}
 .blog-small-text-container {
 width: 60%;
}

}
 @media (min-width: 1200px) {
 .letter-container h1 a {
 font-size: 50px;
 min-height:53px;
	height:auto;
	line-height:43px;
}
 .banner-text {
 font-size:18px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 18px;
 line-height:30px;
 padding-bottom:8px;
}
 .banner-nav ul li {
 font-size:18px;
}
 .offer-text {
 width: 55%;
}
 .newsletter-form {
 width: 100%;
}
.blogpost-search {
width: 84%;
}
 }
 
 @media (max-width:640px) {
	  
	   #lp-pom-block-10
{
	  background-position: 50% 0px !important;
}


#lp-pom-block-11

{
	  background-position: 50% 0px !important;
}

#lp-pom-block-12
{
	  background-position: 50% 0px !important;
}
	  
  }

