<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
	version="2.0">
	<description>Custom Tag for user</description>
	<tlib-version>2.1</tlib-version>
	<short-name>userTable</short-name>
	<uri>/WEB-INF/userCustomTag</uri>
	<tag>
		<description>Tag show user data in the table view</description>
		<name>userTable</name>
		<tag-class>com.epam.isp.web.tag.UserCustomTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<description>User entity</description>
			<name>user</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>com.epam.core.user.User</type>
		</attribute>
	</tag>
</taglib>