<header id="home">
<fmt:message key="modal.user.password.text " var="password1"/>
<fmt:message key="modal.user.username.text" var="username1"/>
  <div class="top-area">
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 language">
			<form action="controller" method="POST" class="fr">
				<input type="hidden" name="command" value="language">
				<input type="hidden" name="language" value="en">
				<input type="hidden" name=url value="${requestScope['javax.servlet.forward.query_string']}">
				<input type="image" src="images/en.png" alt="Submit" style="float: left; padding-left: 2vh;">
				
			</form>
			<form action="controller" method="POST" class="fr">
				<input type="hidden" name="command" value="language">
				<input type="hidden" name="language" value="ru">
				<input type="hidden" name=url value="${requestScope['javax.servlet.forward.query_string']}">
				<input type="image" src="images/ru.png" alt="Submit" style="float: left; padding-left: 2vh;">
			</form>
			<form action="controller" method="POST" class="fr">
				<input type="hidden" name="command" value="language">
				<input type="hidden" name="language" value="by">
				<input type="hidden" name=url value="${requestScope['javax.servlet.forward.query_string']}">
				<input type="image" src="images/by.png" alt="Submit" style="float: left; padding-left: 2vh;">
			</form>
		</div>
		<div style="clear: both;"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 contact-info">
          <div class="smo-icon"><span>	<fmt:message key="header.follow"/></span> <span><a href="#"><img src="images/facebook.png" alt=""/></a></span> <span><a href="#"><img src="images/twitter.png" alt=""/></a></span> <span><a href="#"><img src="images/linkedin.png" alt=""/></a></span> <span><a href="#"><img src="images/googleplus.png" alt=""/></a></span> </div>
    
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="top-link">
            <ul>
              <li><a href="#" class="info-ico"><span></span>interSpeed@gmail.com</a></li>
              <li><a href="#" class="phone-ico"><span></span>+375 25 907 82 36</a></li>
              <li><a href="#" class="chat-ico"><span></span><fmt:message key="header.follow.chat"/></a></li>
            </ul>
          </div>
        </div>
            </div>
        <div class="col-xs-12 col-sm-6 col-md-3 login-form">
         <div class="user-info" >
          <c:if test="${not empty userRole}">
          <c:if test="${userRole.name == 'admin'}">
			<a id="login-menu" href="controller?command=getEmployeeByUserId" style="color:#fff;"><c:out value="${user.login} (${userRole.name})" /></a>
			</c:if>
			 <c:if test="${userRole.name == 'user'}">
			 <a id="login-menu" href="controller?command=getClientByUserId" style="color:#fff;"><c:out value="${user.login} (${userRole.name})" /></a>
			</c:if>
			<a href="controller?command=logout" style="color:#fff;">| <span class="glyphicon glyphicon-log-out"> <fmt:message key="header.logout"/></span></a>
		
		</c:if>
		</div>
		<div style="clear: both;"></div>
          <div class="oder">
            <c:if test="${empty user}">
            <div class="oder-content">
              <div class="container10"> 
              <a id="login-menu" href="#modal"> <span class="glyphicon glyphicon-log-in"> <fmt:message key="header.login"/></span></a>
                <div id="modal" class="login-popupContainer" style="display:none;">
                  <div class="popupHeader">
                    <div class="header_title"><fmt:message key="header.login"/></div>
                    <div class="modal_close"><i class="fa fa-times"></i></div>
                  </div>
                  <div class="popupBody"> 
                    <!-- Social Login -->
                    <div class="social_login">
                      <div class="login-main-icon"><img src="images/login-icon.png" alt=""/></div>
                      <h1><fmt:message key="header.account"/></h1>
                      <div class="main_btns-container">
                        <div class="first_half">
                        <a href="#" id="login_form" class="btn login-btn"><fmt:message key="header.login"/></a></div>
                      </div>
                    </div>
                    
                    <!-- Username & Password Login form -->
                    <div class="user_login">
					<c:if test="${not empty error}">
						<c:out value="${error}"></c:out>
							</c:if>
                      <form action="controller" method="post">
						<input type="hidden" name="command" value="login" />
					  	<fmt:message key="login.login" var="login" />
                        <input type="text"  name="login" placeholder=<fmt:message key="${username1 }"/>/>
                        <br />
						<fmt:message key="login.password" var="password" />
                        <input type="password" name="password" placeholder="${password1 }"/>
                        <br />
                        <div class="checkbox">
                          <input id="remember" type="checkbox" />
                          <label for="remember"><fmt:message key="header.remember"/></label>
                        </div>
                        <div class="main_btns-container">
                          <div class="first_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> <fmt:message key="header.back"/></a></div>
                          <div class="first_half last">
                          
						  	<fmt:message key="login.submit" var="submit" />
							<input type="submit" value="submit" class="btn btn_blue">
						  </div>
                        </div>
                      </form>
                      <a href="#" class="forgot_password">Forgot password?</a> </div>
                  </div>
                </div>
              </div>
            </div>
            </c:if>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>